<div class='view-container central-full'>
  <form id='forgotPasswordForm' name='forgotPasswordForm' novalidate autocomplete='off'>
    <div>
      <img class='logo' src='assets/images/logo.png'>
      <h2>{{resource.forgot_password}}</h2>
      <div [className]='"message " + alertClass'>
        {{message}}
        <span (click)='hideMessage()' [hidden]='!message || message == ""'></span>
      </div>
      <label>
        {{resource.email}}
        <input type='text'
                id='contact' name='contact'
                [(ngModel)]='contact'
                maxlength='255' required
                placeholder='{{resource.placeholder_user_email}}'>
      </label>
      <button type='submit' id='btnForgotPassword' name='btnForgotPassword' (click)='forgotPassword()'>
        {{resource.button_forgot_password}}
      </button>
      <a id='btnSignin' (click)='signin()'>
        {{resource.button_signin}}
      </a>
      <a id='btnResetPassword' (click)='resetPassword()'>
        {{resource.button_reset_password}}
      </a>
    </div>
  </form>
</div>
