<div class='view-container central-full'>
  <form id='resetPasswordForm' name='resetPasswordForm' novalidate autocomplete='off'>
    <div>
      <img class='logo' src='assets/images/logo.png'>
      <h2>{{resource.reset_password}}</h2>
      <div [className]='"message " + alertClass'>
        {{message}}
        <span (click)='hideMessage()' [hidden]='!message || message == ""'></span>
      </div>
      <label>
        {{resource.username}}
        <input type='text' id='username' name='username'
                [(ngModel)]='user.username'
                maxlength='255' required
                placeholder='{{resource.placeholder_placeholder_username}}'>
      </label>
      <label>
        {{resource.passcode}}
        <input type='text' id='passcode' name='passcode'
                [(ngModel)]='user.passcode'
                maxlength='255' required
                placeholder='{{resource.placeholder_passcode}}'>
      </label>
      <label>
        {{resource.new_password}}
        <input type='password' id='password' name='password'
                [(ngModel)]='user.password'
                maxlength='255' required
                placeholder='{{resource.placeholder_new_password}}'>
      </label>
      <label>
        {{resource.confirm_password}}
        <input type='password' id='confirmPassword' name='confirmPassword'
                [(ngModel)]='confirmPassword'
                maxlength='255' required
                placeholder='{{resource.placeholder_confirm_password}}'>
      </label>
      <button type='submit' id='btnResetPassword' name='btnResetPassword' (click)='resetPassword()'>
        {{resource.button_reset_password}}
      </button>
      <a id='btnSignin' (click)='signin()'>
        {{resource.button_signin}}
      </a>
    </div>
  </form>
</div>
